[submodule "Steamodded"]
	path = Steamodded
	url = https://github.com/Steamopollys/Steamodded
	branch = main
[submodule "Mods_Repo/FlushHotkeys"]
	path = Mods_Repo/FlushHotkeys
	url = https://github.com/Agoraaa/FlushHotkeys
	branch = main
[submodule "Mods_Repo/SDM0"]
	path = Mods_Repo/SDM0
	url = https://github.com/SDM0/Balatro-Mods
	branch = smods_1.0.0
[submodule "Mods_Repo/Fusion-Jokers"]
	path = Mods_Repo/Fusion-Jokers
	url = https://github.com/itayfeder/Fusion-Jokers
	branch = main
[submodule "Mods_Repo/Talisman"]
	path = Mods_Repo/Talisman
	url = https://github.com/MathIsFun0/Talisman
	branch = main
[submodule "Mods_Repo/Cryptid"]
	path = Mods_Repo/Cryptid
	url = https://github.com/MathIsFun0/Cryptid
	branch = main
[submodule "Mods_Repo/JokerDisplay"]
	path = Mods_Repo/JokerDisplay
	url = https://github.com/nh6574/JokerDisplay
	branch = main
[submodule "Mods_Repo/Joker-Evolution"]
	path = Mods_Repo/Joker-Evolution
	url = https://github.com/SDM0/Joker-Evolution
	branch = main
[submodule "Mods_Repo/Aura"]
	path = Mods_Repo/Aura
	url = https://github.com/MathIsFun0/Aura
	branch = main
[submodule "Mods_Repo/betmma"]
	path = Mods_Repo/betmma
	url = https://github.com/betmma/my_balatro_mods
	branch = main
[submodule "Mods_Repo/D6-Jokers"]
	path = Mods_Repo/D6-Jokers
	url = https://github.com/GauntletGames-2086/D6-Jokers
	branch = main
[submodule "Mods_Repo/Jimbo-s-Pack"]
	path = Mods_Repo/Jimbo-s-Pack
	url = https://github.com/art-muncher/Jimbo-s-Pack
	branch = main
[submodule "Mods_Repo/Bunco"]
	path = Mods_Repo/Bunco
	url = https://github.com/Firch/Bunco
	branch = main
[submodule "Mods_Repo/BBBalatro"]
	path = Mods_Repo/BBBalatro
	url = https://github.com/BBBalatroMod/BBBalatro
	branch = main
[submodule "Mods_Repo/snoresville_turbulent_jokers"]
	path = Mods_Repo/snoresville_turbulent_jokers
	url = https://github.com/Snoresville/snoresville_turbulent_jokers
	branch = master
